.isi-face-mimo-tema:before {
  background-image: var(--mimoUrl);
}

.isi-face-otravne:before {
  background-image: var(--otravneUrl);
}

.isi-face-prinosne:before {
  background-image: var(--prinosneUrl);
}

.isi-face-vtipne:before {
  background-image: var(--vtipneUrl);
}

.isi-face-zajimave:before {
  background-image: var(--zajimaveUrl);
}

.isi-face-nemam-nazor:before {
  background-image: var(--nemamNazorUrl);
}

.isi-face-mimo-tema:before,
.isi-face-otravne:before,
.isi-face-prinosne:before,
.isi-face-vtipne:before,
.isi-face-zajimave:before,
.isi-face-nemam-nazor:before
{
  content: "" !important;
  background-repeat: no-repeat;
  background-size: 2.0rem;
  width: 2.0rem;
  height: 2.0rem;
}